<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>詳細変更</h1>
    	<%= render 'layouts/errors', obj: @menu %>
  		<%= render 'form', menu: @menu %>
  		<%= link_to '詳細', @menu, class: "menu_#{@menu.id}" %> |
  		<%= link_to '戻る', menus_path, class: "back" %>
  </div>
</div>