  <div class="container">
  <div class="row">
    <div class="d-block mx-auto">
      <div class="main-visual">
        <p class="main-visual-text">
          <h5><strong>今日のごはん！！</strong></h5><br>
          <h5>このサイトでは、みんなの献立を知るSNSサイトになります。</h5><br>
          <h5>今日のごはんで悩んでいる方！見てください！</h5>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-block mx-auto">
      <div class="main-visual">
        <p class="main-visual-text">
          <strong>新着</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex align-items-center">
    <% @menus.each do |menu| %>
    <div class="d-block mx-auto">
      <% if menu.image.attached? %>
        <%= image_tag menu.image, size:'150x150' %>
      <% else %>
        <%= image_tag 'no_image.jpg', size:"150x150" %>
      <% end %>
      <div><%= menu.title %></div>
    </div>
    <% end %>
    </div>
  </div>
</div>