<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'menu' %>
	<h3>Menus search for "<%= @content %>"</h3>
  <%= render 'menus/index', menus: @records %>
<% end %>